body {
    background: #f1f1f1;
  }
  
  .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      margin-top: 50px;
  }
    
  .flex-container > div {
      background-color: white;
      width: 700px;
      height: auto;
      margin: 10px;
      padding: 10px;
      font-size: 18px;
      align-self: center;
  }
  
  .createpost .Puser{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Cpost {
    background-color: #f1f1f1;
    border: none;
    width: 600px;
    height: 30px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 18px;
    margin-left: 1rem;
  }
  
  .postTitle {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
  }
  
  p {
    margin: 10px;
    line-height: 2rem;
    font-size: 16px;
  }
  
  .UserDate {
    font-weight: bold;
    padding: 5px;
  }
  
  img {
    background-color: #f1f1f1;
    margin: 10px;
  }
  
  .interactions {
    margin: 10px;
  }
  
  .interaction {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.5rem;
  }
  
  .Iconinteractionss {
    margin-right: 10px;
  }
  
  .Iconinteractions {
    margin-left: 10px;
  }
  
  .Iconinteractions {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  
  .NumberInteractions {
    margin: 0px;
  }
  
  hr {
    width: auto;
  }
  
  .comments {
    margin: 10px;
  }
  
  .userComments {
    display: flex;
    align-items: center;
  }
  
  .userComments > * {
    display: inline-block;
  }
  
  .userC {
    border-radius: 50px;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
    margin: 5px;
  }
  
  .userName {
    font-weight: bold;
  }
  
  span {
    margin: 30px;
    line-height: 1.5rem;
  }
  
  .title {
    text-align: center;
    padding: 10px;
  }